<div class="bg-neutral-200 min-h-screen">
  <div class="container">
    <div class="flex justify-between gap-2 mb-6 sticky top-0 z-10 bg-neutral-200 py-4">
      <h1 class="font-bold text-xl">CBC Comment</h1>
      <button class="btn" (click)="generate(cbc)">Generate</button>
    </div>
    @for (item of labels; track $index) {
    <h2 class="font-bold mt-4 mb-1">{{item.name}}</h2>
    <div class="radio-inputs">
      @for (v of item.values; track $index) {
      <label class="radio" for="{{item.name}}-{{v}}">

        <input type="radio" name="{{item.name}}" id="{{item.name}}-{{v}}" value="{{v}}" [(ngModel)]="cbc[item.name]">

        <span class="name">{{v}}</span>
      </label>
      }
    </div>
    @if(item.sep){
    <hr class="my-6 border-neutral-300">
    }
    }
    @if (comment.anemia ||comment.wbcs ||comment.plt) {
    <hr class="my-10 border-neutral-300">
    <button class="btn ms-auto block" (click)="copy()">Copy</button>
    <div class="radio-inputs !p-4 mt-4">
      <p class="w-full font-medium">{{comment.anemia}}</p>
      <p class="w-full font-medium">{{comment.wbcs}}</p>
      <p class="w-full font-medium">{{comment.plt}}</p>
    </div>
    }
    
    @if (patientComment.anemia ||patientComment.wbcs ||patientComment.plt) {
    <hr class="my-10 border-neutral-300">
    
    <div class="radio-inputs !p-4 mt-4" dir="rtl">
      @if(patientComment.anemia){
      <span class="font-bold text-xl w-full">
        وجود انيما
      </span>
      <p>
    
    
        السبب المحتمل {{patientComment.anemia.exp}} <br>
        توضيح : {{patientComment.anemia.type}}
      </p>
      }
      @if(patientComment.wbcs){
      <span class="font-bold text-xl w-full">
        قيم غير طبيعة لكرات الدم البيضاء
      </span>
    
      <p>
        السبب المحتمل {{patientComment.wbcs.type}} <br>
        توضيح : {{patientComment.wbcs.exp}}
        </p>
        }
        @if(patientComment.plt){
        <span class="font-bold text-xl w-full">
          قيم غير طبيعة للصفائح الدموية
        </span>
        <p>
          السبب المحتمل {{patientComment.plt.type}} <br>
          توضيح : {{patientComment.plt.exp}}
        </p>
        }
    </div>
    }
    
    @if(normal){
    <div class="radio-inputs !p-4 mt-4" dir="rtl">
      {{normal}}
    </div>
    }
  </div>

</div>
